<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <style>
        .gallery {
            overflow: hidden;
            width: 480px;
        }
        .gallery .ramka {
            float: left;
            margin-right: 100px;
            margin-bottom: 10px;
        }
        .gallery img {
            width: 250px;
            height: 300px;
        }
    </style>
</head>
<body>
<div class="gallery">
    <ul>
        {% for i in object_list %}
        <li>
            <h2>Название: {{ i.title }}</h2>
            <p>Год Выпуска: {{ i.year }}</p>
            <div class="ramka">
            <img src="{{ i.image }}" alt="">
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>